doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    div.wrapper
      h1 Confirmación
      br
      p Nombre: #{name}
      br
      p Edad: #{age}
      br
      p Correo electrónico: #{email}
      br
      a(href="/") Volver al inicio
