doctype html
html
  head
    title Formulario
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    .container
      h1 Formulario
      if error
        p.error= error
        br
      form(action="/submit", method="POST")
        label(for="name") Nombre:
        input(type="text", name="name", id="name")
        br
        label(for="age") Edad:
        input(type="number", name="age", id="age" min="0")
        br
        label(for="email") Correo electrónico:
        input(type="email", name="email", id="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}")
        br
        button(type="submit") Enviar
